* {
  font-family: "Geologica", sans-serif;
}

body {
  background: linear-gradient(112.87deg, #394867, #9ba4b5);
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-settings,
#game-board {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 20px 20px 17px 10px rgba(0, 0, 0, 0.25);
}

.game-hidden {
  display: none;
}

#cells {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
  text-transform: uppercase;
}

#cells div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  cursor: pointer;
  font-family: "Rubik Pixels";
  font-weight: bolder;
}

#cells div:hover {
  background-color: #dde6ed;
}

#turnMessage {
  margin-top: 10px;
  font-weight: bold;
}

#scores {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  margin-top: 15px;
}

.uppercase {
  text-transform: uppercase;
}

.X {
  color: green;
}

.O {
  color: red;
}
